:root{
    --prime_c: ;
    --bg_c: #74b9ff;
}

.container {  
    display: grid;
    grid-template-columns: 20% 40% 1fr;
    grid-template-rows: 1fr;
    gap:20px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar cards extra";
  }
  
.sidebar { 
    position: sticky;
    height: 1000px;
    grid-area: sidebar;
    background-color: var(--bg_c);
}
  
  .cards { grid-area: cards; }
  
  .extra { grid-area: extra; }
  
  